@if (show() === 'navbar') {

  <div class="flex  items-center bg-white rounded-lg px-4 py-2  shadow-sm">
    <input 
      type="text" 
      [(ngModel)]="value" 
      (ngModelChange)="onsearchEvent($event)"
      placeholder="Enter Keyword..." 
      class="bg-transparent border-none outline-none  rounded-3xl  text-sm w-[90px] md:w-full text-gray-700 placeholder:text-gray-400"
    />
  </div>
}@else {
 <div class="flex items-center gap-2">
    <div class="flex items-center bg-white border border-gray-300 rounded-lg px-3 py-1.5 shadow-sm">
      <button (click)="toogleSearch()" class="text-gray-400 mr-2 cursor-pointer"><i class="fa-solid fa-magnifying-glass"></i></button>
      <input 
        type="text" 
        [hidden]="!isexpanded()"
        [(ngModel)]="value" 
        (ngModelChange)="onsearchEvent($event)"
        placeholder="Search..." 
        class="bg-transparent border-none outline-none text-sm w-full rounded-2xl text-gray-700"
      />
    </div>
  </div>

}
