<div class="flex items-center justify-around">
<nav aria-label="Page navigation example" class="flex gap-10 items-center space-x-4">
    <div>
        <span>{{currentPage()}} of {{totalPages()||1}}Pages</span>
        <span>({{totalRecords()||0}} Items)</span>
    </div>
  <ul class="flex space-x-3 text-sm">
    <li>
      <button [disabled]="currentPage()===1" (click)="onchangepage(currentPage()-1)" class="flex items-center cursor-pointer rounded-2xl justify-center text-body bg-neutral-secondary-medium border border-default-medium hover:bg-blue-300 hover:text-heading shadow-xs font-medium leading-5 rounded-s-base text-sm px-3 h-9 focus:outline-none"> <i class="fa-solid fa-circle-arrow-left mt-1"></i> Previous</button>
    </li>
    <li>
      <button [disabled]="currentPage()==1" (click)="onchangepage(currentPage()-1)" class="flex items-center cursor-pointer justify-center text-body bg-neutral-secondary-medium border border-default-medium hover:bg-blue-300 rounded-2xl hover:text-heading shadow-xs font-medium leading-5 text-sm w-9 h-9 focus:outline-none">1</button>
    </li>
    <li>
      <button [disabled]="currentPage()===totalPages()" (click)="onchangepage(currentPage()+1)" class="flex cursor-pointer items-center justify-center text-body bg-neutral-secondary-medium border border-default-medium hover:bg-blue-300 rounded-2xl hover:text-heading shadow-xs font-medium leading-5 text-sm w-9 h-9 focus:outline-none">2</button>
    </li>
    <li>
        <button [disabled]="currentPage()===totalPages()" (click)="onchangepage(currentPage()+1)" class="flex items-center cursor-pointer justify-center text-body bg-neutral-secondary-medium  hover:bg-blue-300 rounded-2xl hover:text-heading border-1 border-black shadow-xs font-medium leading-5 rounded-e-base text-sm px-3 h-9 focus:outline-none">Next<i class="fa-solid fa-circle-arrow-right mt-1"></i></button>
    </li>
  </ul>
  <form class="mx-auto mt-1">
    <label for="countries" class="sr-only">Select an option</label>
    <div class="flex items-center gap-2 whitespace-nowrap  ">
      <select id="countries" [(ngModel)]="pageSize" name="pageSize" class="block rounded-xl w-full px-3 py-2.5 bg-neutral-secondary-medium border border-default-medium text-heading text-sm leading-4 rounded-base focus:ring-brand focus:border-brand shadow-xs placeholder:text-body">
      <option [ngValue]="10">10</option>
      <option [ngValue]="25">25</option>
      <option [ngValue]="50">50</option>
      <option [ngValue]="100">100</option>
    </select>
      <h5 class="font-bold ">Items Page</h5>
    </div>
  </form>
</nav>
</div>

